
<!-- render from -->

{% macro render_form(form, url) %}
<form method="POST" action="{{ url }}">
{{ form.csrf_token }}
{% for field in form %}
{% if field.type == 'CSRFTokenField' %}
	{{ '' }}
{% elif field.type == "HiddenField" %}
    {{ field }}
{% elif field.name == 'id' %}
    {{ '' }}
{% elif field.type == 'BooleanField' %}
    <div class="checkbox">
        <label>
        {{ field }}<span>{{ field.label.text }}</span>
        </label>
    </div>
{% elif field.type == 'SubmitField' %}
	{{ form.submit(class="btn btn-primary", type="submit")}}
{% else %}
	<div class="form-group {% if field.errors %}has-error{% endif %}">
		{{ field.label }}
        {{ field(class="form-control") }}
        {% if field.description %}<span class="text-muted">{{ field.description }}</span>{% endif %}
		{% if field.errors %}
		{% for error in field.errors %}
		<span class="help-block">{{ error }}</span>
		{% endfor %}
		{% endif %}
	</div>
{% endif %}
{% endfor %}
</form>
{% endmacro %}


<!-- render modal form -->

{% macro render_modal_form(form, url, header) %}
<form method="POST" action="{{ url }}">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{ header }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
        {{ form.csrf_token }}
        {% for field in form %}
        {% if field.type == 'CSRFTokenField' %}
            {{ '' }}
        {% elif field.type == "HiddenField" %}
            {{ field }}
        {% elif field.name == 'id' %}
            {{ '' }}
        {% elif field.type == 'BooleanField' %}
            <div class="checkbox">
                <label>
                {{ field }}<span>{{ field.label.text }}</span>
                </label>
            </div>
        {% elif field.type == 'SubmitField' %}
            {{ '' }}
        {% else %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                {{ field.label }}
                {{ field(class="form-control") }}
                {% if field.description %}<span class="text-muted">{{ field.description }}</span>{% endif %}
                {% if field.errors %}
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
                {% endif %}
            </div>
        {% endif %}
        {% endfor %}
        </div>
        <div class="col-md-6">
            <h4>Description</h4>
            {% for text in form.help_text %}
            <p>{{ text }}</p>
            {% endfor %}

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    {{ form.submit(class="btn btn-primary", type="submit")}}
</div>


</form>
{% endmacro %}


<!-- render subnet -->
<!-- render subnet under Network or Site -->

{% macro render_subnet(parent_obj, parent_url) %}

{% if parent_obj.address %}
    {% set parent = 'network' %}
{% else %}
    {% set parent = 'site' %}
{% endif %}

<table class="table table-hover text-nowrap table-condensed">
    <thead>
        <tr>
            <th>Subnet Address</th>
            <th>Subnet Name</th>
            <th>Description</th>
            <th>VLAN</th>
            <th>Site</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for subnet in parent_obj.subnets %}
        <tr>
            <td><a href="{{ url_for("admin.subnet_detail", parent=parent, parent_id=parent_obj.id, subnet_id=subnet.id) }}">{{ subnet.address }}</a></td>
            <td>{{ subnet.name }}</td>
            <td>{{ subnet.description }}</td>
            <td>{{ subnet.vlan }}</td>
            <td>{{ subnet.site.name }}</td>
            <td>
                <div class="dropdown">
                <p class="action" id="dropdownMenu1" data-toggle="dropdown"><span class="caret"></span></p>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li>
                        <a href="{{ url_for("admin.edit_subnet", subnet_id=subnet.id, next=parent_url) }}">edit</a>
                    </li>
                    <li data-toggle="modal" data-target="#loadingEffect" data-backdrop="static" data-keyboard="false">
                        <a href="{{ url_for("admin.delete_subnet", subnet_id=subnet.id, next=parent_url) }}">delete</a>
                    </li>
                </ul>
                </div>
            
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}



