{% extends "base.html" %}

{% block admin %} class="active"{% endblock %}

{% block page %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id="summary" {% block summary %}{% endblock %}><a href="{{ url_for("admin.summary") }}">Summary</a></li>
                <li id="request" {% block request %}{% endblock %}>
                    <a onclick="activeRequest()" data-toggle="collapse" href="#sub-request">Requests</a>
                    <ul class="collapse level2-menu" id="sub-request">
                        <li id="waiting-request">
                            <a href="{{ url_for("admin.waiting_request") }}">waiting 
                                {% if waiting_request_count > 0 %}
                                <span class="badge">
                                    {{ waiting_request_count }}
                                </span>
                                {% endif %}
                            </a>
                        </li>
                        <li id="complete-request">
                            <a href="{{ url_for("admin.complete_request") }}">complete</a>
                        </li>
                    </ul>
                </li>
                <li id="network" {% block network %}{% endblock %}><a href="{{ url_for("admin.network") }}">Network</a></li>
                <li id="site" {% block site %}{% endblock %}><a href="{{ url_for("admin.site") }}">Site</a></li>
                <li id="log" {% block log %}{% endblock %}><a href="{{ url_for("admin.log") }}">Audit Log</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="message">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close" aria-hidden="true"><span>&times;</span></button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            {% block nav %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}



{% block script %}
{{ super() }}
<script> 
function activeRequest() {
    $(".nav-sidebar").find("li").removeClass("active");
    $("#request").addClass("active");
}
</script>
{% endblock %}
