{% extends "base.html" %}

{% block admin %} class="active"{% endblock %}

{% block page %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li onclick="active_request()" id="request" {% block request %}{% endblock %}>
                    <a data-toggle="collapse" href="#sub_request">Requests</a>
                </li>
                <ul class="collapse level2-menu" id="sub_request">
                    <li class="level2-menu-item" id="waiting_request">
                        <a href="{{ url_for("admin.waiting_request") }}">waiting</a>
                    </li>
                    <li class="level2-menu-item" id="complete_request">
                        <a href="{{ url_for("admin.complete_request") }}">complete</a>
                    </li>
                </ul>
                <li id="network" {% block network %}{% endblock %}><a href="{{ url_for("admin.network") }}">Network</a></li>
                <li id="site" {% block site %}{% endblock %}><a href="{{ url_for("admin.site") }}">Site</a></li>
                <li id="log" {% block log %}{% endblock %}><a href="{{ url_for("admin.log") }}">Audit Log</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="message">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close" aria-hidden="true"><span>&times;</span></button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            {% block nav %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script type="text/javascript">
function active_request() {
    document.getElementById("request").setAttribute("class", "active");
    document.getElementById("network").classList.remove("active");
    document.getElementById("site").classList.remove("active");
    document.getElementById("log").classList.remove("active");
    document.getElementById("waiting_request").setAttribute("class", "level2-menu-item");
    document.getElementById("complete_request").setAttribute("class", "level2-menu-item");
}
</script>
{% endblock %}


