{% extends "admin/admin_base.html" %}
{% from "macros.html" import render_form %}

{% block nav %}
    {% if parent_url %}
    <a href="{{ parent_url }}">&larr; back</a>
    {% else %}
    <a href="{{ url_for("admin.waiting_request") }}">&larr; back</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="page-header">Waiting Request</h1>
    <p>host: {{ request.host.hostname }}</p>

    <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
        {{ render_form(form, url_for("admin.approve_request", request_id=request.id)) }}
    </form>

{% endblock %}


{% block script %}
{{ super() }}
<script>
    document.getElementById("sub_request").classList.add("in")
    document.getElementById("waiting_request").classList.add("active")
</script>
{% endblock %}


