{% extends "admin/admin_base.html" %}
{% from "macros.html" import render_form %}

{% block site %}
    {% if 'site' in prev_url %}
         class="active"
    {% endif %}
{% endblock %}

{% block network %}
    {% if 'network' in prev_url %}
         class="active"
    {% endif %}
{% endblock %}

{% block nav %}
    <a href="{{ prev_url }}">&larr; back</a>
{% endblock %}

{% block content %}
    <h1 class="page-header">Edit</h1>
    <p>ip: {{ ip.address }}</p>

    <div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
        {{ render_form(form, url_for("admin.edit_ip", ip_id=ip.id)) }}
    </div>

{% endblock %}
