{% extends "admin/admin_base.html" %}

{% block network %}
    {% if 'network' in parent_url %} class="active"{% endif %}
{% endblock %}

{% block site %}
    {% if 'site' in parent_url %} class="active"{% endif %}
{% endblock %}

{% block nav %}
    <a href="{{ parent_url }}">&larr; back</a>
{% endblock %}

{% block content %}
    <h1 class="page-header">IP: {{ ip.address }}</h1>
    {% if not ip.is_inuse %}<p style="color: red;">unassigned</p>{% endif %}
    <h2>Host Detail</h2>
    <div class="col-lg-6 col-md-9 col-sm-12">
    <table class="table text-nowrap table-condensed">
        <tbody>
            <tr>
                <td>hostname</td>
                <td>{{ ip.host.hostname }}</td>
            </tr>
            <tr>
                <td>MAC address</td>
                <td>{{ ip.host.mac_address }}</td>
            </tr>
            <tr>
                <td>owner</td>
                <td>{{ ip.host.owner }}</td>
            </tr>
            <tr>
                <td>owner e-mail</td>
                <td>{{ ip.host.owner_email }}</td>
            </tr>
            <tr>
                <td>desriptiion</td>
                <td>{{ ip.host.description }}</td>
            </tr>
            <tr>
                <td>change log</td>
                <td>{{ ip.host.remark }}</td>
            </tr>
        </tbody>
    </table>
    </div>

{% endblock %}
