{% extends "admin/admin_base.html" %}

{% block network %}
    {% if parent_url and 'network' in parent_url %} class="active"{% endif %}
{% endblock %}

{% block site %}
    {% if parent_url and 'site' in parent_url %} class="active"{% endif %}
{% endblock %}

{% block nav %}
    {% if parent_url %}
    <a href="{{ parent_url }}">&larr; back</a>
    {% else %}
    <a href="{{ url_for("admin.summary") }}">&larr; back</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="page-header">IP: {{ ip.address }}</h1>
    {% if not ip.is_inuse %}<p style="color: red;">unassigned</p>{% endif %}
    <p>Host Infomation</p>
    <div class="col-lg-6 col-md-9 col-sm-12">
    <table class="table text-nowrap table-condensed">
        <tbody>
            <tr>
                <th>hostname</th>
                <td>{{ ip.host.hostname }}</td>
            </tr>
            <tr>
                <th>MAC address</th>
                <td>{{ ip.host.mac_address }}</td>
            </tr>
            <tr>
                <th>owner</th>
                <td>{{ ip.host.owner }}</td>
            </tr>
            <tr>
                <th>owner e-mail</th>
                <td>{{ ip.host.owner_email }}</td>
            </tr>
            <tr>
                <th>desriptiion</th>
                <td>{{ ip.host.description }}</td>
            </tr>
            <tr>
                <th>change log</th>
                <td>{{ ip.host.remark }}</td>
            </tr>
        </tbody>
    </table>
    </div>

{% endblock %}
