{% extends "admin/admin_base.html" %}

{% block network %} class="active"{% endblock %}


{% block modal %}
    <div class="modal fade" id="add-network-modal" tabindex="-1" role="dialg"></div>
    <div class="modal fade" id="edit-network-modal" tabindex="-1" role="dialg"></div>
{% endblock %}

{% block content %}
    <h1 class="page-header">Netwok</h1>
    <div class="command-btn">
        <a type="button" class="btn btn-default" onclick="addNetwork()">Add Network</a>
    </div>
    <table class="table table-hover text-nowrap table-condensed">
        <thead>
            <tr>
                <th>Network Address</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for network in networks %}
            <tr>
                <td><a href="{{ url_for("admin.network_detail", network_id=network.id) }}">{{ network.address }}</a></td>
                <td>{{ network.description }}</td>
                <td>
                    <div class="dropdown">
                    <p class="action" id="dropdownMenu1" data-toggle="dropdown"><span class="caret"></span></p>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#" onclick="editNetwork({{ network.id }})">edit</a></li>
                        <li><a href="{{ url_for("admin.delete_network", network_id=network.id) }}">delete</a></li>
                    </ul>
                    </div>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block script%}
{{ super() }}
<script>
    function addNetwork() {
        $("#add-network-modal").load("/admin/network/add");
        $("#add-network-modal").modal("show");
        $("#add-network-modal").on("submit", "form", submitForm);
    }
    function editNetwork(networkID) {
        $("#edit-network-modal").load("/admin/network/" + networkID + "/edit");
        $("#edit-network-modal").modal("show");
        $("#edit-network-modal").on("submit", "form", submitForm);
    }

</script>

{% endblock %}
