{% extends "admin/admin_base.html" %}

{% block network %} class="active"{% endblock %}

{% block content %}
    <h1 class="page-header">Netwok</h1>
    <div style="text-align: right;">
        <button type="button" clas="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Test loading</button>
    </div>
    <div class="command-btn">
        <a type="button" class="btn btn-default" href="{{ url_for("admin.add_network") }}">New Network( Supernet )</a>
    </div>
    <table class="table table-hover text-nowrap table-condensed">
        <thead>
            <tr>
                <th>Network Address</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for network in networks %}
            <tr>
                <td><a href="{{ url_for("admin.network_detail", network_id=network.id) }}">{{ network.address }}</a></td>
                <td>{{ network.description }}</td>
                <td>
                    <div class="dropdown">
                    <p class="action" id="dropdownMenu1" data-toggle="dropdown"><span class="caret"></span></p>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ url_for("admin.edit_network", network_id=network.id) }}">edit</a></li>
                        <li><a href="{{ url_for("admin.delete_network", network_id=network.id) }}">delete</a></li>
                    </ul>
                    </div>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
