{% extends "admin/admin_base.html" %}
{% from "macros.html" import render_subnet %}

{% block network %} class="active"{% endblock %}

{% block nav %}
    <p><a href="{{ url_for("admin.network") }}">network</a> &gt;&gt; {{ network.address }} </p>
{% endblock %}


{% block modal %}
    <div class="modal fade" id="add-subnet-modal" tabindex="-1" role="dialg"></div>
    <div class="modal fade" id="edit-subnet-modal" tabindex="-1" role="dialg"></div>
{% endblock %}


{% block content %}
    <h1 class="page-header">{{ network.address }}</h1>
    <div class="command-btn">
        <a type="button" class="btn btn-default" onclick="addSubnetUnder({{ network.id }})">Add Subnet</a>
    </div>


    <table class="table table-hover text-nowrap table-condensed">
        <thead>
            <tr>
                <th>Subnet Address</th>
                <th>Subnet Name</th>
                <th>Description</th>
                <th>Utilization</th>
                <th>Site</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for subnet in network.subnets %}
            <tr>
                <td><a href="{{ url_for("admin.subnet_detail", parent="network", subnet_id=subnet.id) }}">{{ subnet.address }}</a></td>
                <td>{{ subnet.name }}</td>
                <td>{{ subnet.description }}</td>
                <td>{{ subnet_utilization(subnet.id) }}</td>
                <td>{{ subnet.site.name }}</td>
                <td>
                    <div class="dropdown">
                    <p class="action" id="dropdownMenu1" data-toggle="dropdown"><span class="caret"></span></p>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a href="{{ url_for("admin.edit_subnet", subnet_id=subnet.id) }}">edit</a>
                        </li>
                        <li data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">
                            <a href="{{ url_for("admin.delete_subnet", subnet_id=subnet.id) }}">delete</a>
                        </li>
                    </ul>
                    </div>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}


{% block script %}
{{ super() }}
<script>
    function addSubnetUnder(networkID) {
        $("#add-subnet-modal").load("/admin/network/" + networkID + "/addsubnet");
        $("#add-subnet-modal").modal("show");
        $("#add-subnet-modal").on("submit", "form", submitForm);
    }


    $("#add-subnet-modal").on("click", "#nav-tab-1", function() {
        $("#nav-tab-2").removeClass("active");
        $("#form-tab-2").hide();
        $("#nav-tab-1").addClass("active");
        $("#form-tab-1").show();
    })

    $("#add-subnet-modal").on("click", "#nav-tab-2", function() {
        $("#nav-tab-1").removeClass("active");
        $("#form-tab-1").hide();
        $("#nav-tab-2").addClass("active");
        $("#form-tab-2").show();
    })
</script>
{% endblock %}
