{% extends "admin/admin_base.html" %}


{% block nav %}
    {% if parent_url %}
    <a href="{{ parent_url }}">&larr; back</a>
    {% else %}
    <a href="{{ url_for("admin.summary") }}">&larr; back</a>
    {% endif %}

{% endblock %}

{% block content %}
    <h1 class="page-header">Host</h1>
    <p>Host Detail</p>
    <div class="col-lg-6 col-md-9 col-sm-12">
    <table class="table text-nowrap table-condensed">
        <tbody>
            <tr>
                <th>Request ID</th>
                <td>{{ request.id }}</td>
            </tr>
            <tr>
                <th>hostname</th>
                <td>{{ request.host.hostname }}</td>
            </tr>
            <tr>
                <th>MAC address</th>
                <td>{{ request.host.mac_address }}</td>
            </tr>
            {% if request.request_subnet %}
            <tr>
                <th>Request Subnet</th>
                <td>{{ request.request_subnet.address }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>status</th>
                <td>{{ request.host.status|request_status }}</td>
            </tr>
            {% if request.is_assigned() %}
            <tr>
                <th>IP Info</th>
                <td>
                    <p class="no-margin">IP address: {{ request.host.ip.address }}</p>
                    <p class="no-margin">Mask: {{ request.host.ip.subnet.mask }}</p>
                    <p class="no-margin">Gateway: {{ request.host.ip.subnet.gateway }}</p>
                    <p class="no-margin">DNS1: {{ request.host.ip.subnet.dns1 }}</p>
                    <p class="no-margin">DNS2: {{ request.host.ip.subnet.dns2 }}</p>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>owner</th>
                <td>{{ request.host.owner }}</td>
            </tr>
            <tr>
                <th>owner e-mail</th>
                <td>{{ request.host.owner_email }}</td>
            </tr>
            <tr>
                <th>requestor</th>
                <td>{{ request.host.request.user.username }}</td>
            </tr>
            <tr>
                <th>desriptiion</th>
                <td>{{ request.host.description }}</td>
            </tr>
        </tbody>
    </table>
    </div>

{% endblock %}

{% block script %}
    <script>
        document.getElementById("sub_request").classList.add("in")
        {% if parent_url %}
            {% if "waiting" in parent_url %}
            document.getElementById("waiting_request").classList.add("active")
            {% elif "complete" in parent_url %}
            document.getElementById("complete_request").classList.add("active")
            {% endif %}
        {% endif %}
    </script>
{% endblock %}
