{% extends "admin/admin_base.html" %}

{% block network %}
    {% if parent == 'network' %} class="active"{% endif %}
{% endblock %}

{% block site %}
    {% if parent == 'site' %} class="active"{% endif %}
{% endblock %}

{% block nav %}
    {% if parent == 'network' %}
    <p>
        <a href="{{ url_for("admin.network") }}">network</a>
        &gt;&gt; 
        <a href="{{ url_for("admin.network_detail", network_id=subnet.network.id) }}">{{ subnet.network.address }}</a>
        &gt;&gt; 
        {{ subnet.address }}
    </p>
    {% elif parent == 'site' %}
    <p>
        <a href="{{ url_for("admin.site") }}">site</a>
        &gt;&gt; 
        <a href="{{ url_for("admin.site_detail", site_id=subnet.site.id) }}">{{ subnet.site.name }}</a>
        &gt;&gt; 
        {{ subnet.address }}
    </p>
    {% endif %}

{% endblock %}

{% block content %}
    <h1 class="page-header">{{ subnet.site.name }}: {{ subnet.name }}</h1>
    <table class="table table-hover text-nowrap table-condensed">
        <thead>
            <tr>
                <th>IP Address</th>
                <th>Inuse</th>
                <th>Host</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for ip in subnet.ips %}
            <tr>
                <td><a href="#">{{ ip.address }}</a></td>
                <td>{{ ip.is_inuse }}</td>
                <td>{{ ip.host.name }}</td>
                <td>
                    <div class="dropdown">
                    <p class="action" id="dropdownMenu1" data-toggle="dropdown"><span class="caret"></span></p>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ url_for("admin.assign_ip", ip_id=ip.id, next=parent_url) }}">assign</a></li>
                        <li><a href="{{ url_for("admin.release_ip", ip_id=ip.id) }}">release</a></li>
                        <li><a href="{{ url_for("admin.edit_ip", ip_id=ip.id) }}">edit</a></li>
                    </ul>
                    </div>
                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
