{% extends "admin/admin_base.html" %}


{% block content %}
    <h1 class="page-header">Waiting Request</h1>


    <table class="table table-hover text-nowrap table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Hostname</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Requestor</th>
                <th>Request Subnet</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for host in hosts %}
            <tr>
                <td>{{ host.id }}</td>
                <td><a href="{{ url_for("admin.host_detail", host_id=host.id, next=parent_url) }}">{{ host.hostname }}</a></td>
                <td>{{ host.description }}</td>
                <td>{{ host.owner }}</td>
                <td>{{ host.request.user.username }}</td>
                <td>{{ host.request_subnet.address }}</td>
                <td>
                    <div class="dropdown">
                    <p class="action" id="dropdownMenu1" data-toggle="dropdown"><span class="caret"></span></p>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ url_for("admin.approve_request", host_id=host.id) }}">approve</a></li>
                        <li><a href="{{ url_for("admin.reject_request", host_id=host.id) }}">reject</a></li>
                    </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>






{% endblock %}


{% block script %}
{{ super() }}
<script>
    document.getElementById("sub_request").classList.add("in")
    document.getElementById("waiting_request").classList.add("active")
</script>
{% endblock %}


