{% extends "admin/admin_base.html" %}


{% block content %}
    <h1 class="page-header">Waiting Request</h1>


    <table class="table table-hover text-nowrap table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Hostname</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Requestor</th>
                <th>Request Subnet</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <td><a href="{{ url_for("admin.request_detail", request_id=request.id, next=parent_url) }}">{{ request.id }}</a></td>
                <td>{{ request.host.hostname }}</td>
                <td>{{ request.host.description }}</td>
                <td>{{ request.host.owner }}</td>
                <td>{{ request.user.username }}</td>
                <td>{{ request.request_subnet.address }}</td>
                <td>
                    <div class="dropdown">
                    <p class="action" id="dropdownMenu1" data-toggle="dropdown"><span class="caret"></span></p>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{ url_for("admin.approve_request", request_id=request.id) }}">approve</a></li>
                        <li><a href="{{ url_for("admin.reject_request", request_id=request.id) }}">reject</a></li>
                    </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>






{% endblock %}


{% block script %}
<script>
    document.getElementById("sub_request").classList.add("in")
    document.getElementById("waiting_request").classList.add("active")
</script>
{% endblock %}


