{% extends "request/request_base.html" %}
{% from "macros.html" import render_form %}


{% block title %}IPView{% endblock %}

{% block new_request %} class="active"{% endblock %}

{% block content %}
<h1 class="page-header">Create Request</h1>

<div class="col-lg-4 col-md-6 col-sm-9 col-xs-12">
    {{ render_form(form, url_for("request.create")) }}
</div>


{% endblock %}







{% block script %}
<script>


function get_subnets (){
    var site_id = $("#site_id").val();
    var subnets = $("#subnet_id");
    $.getJSON("/api/site/" + site_id + "/subnets", function(data){
        subnets.empty();
        $.each(data, function(name, value){
            subnets.append('<option value=' + name + '>' + value + '</option>');
            
        });   
        
    });

};


$(document).ready(get_subnets);
$("#site_id").change(get_subnets);


</script>

{% endblock %}
