{% extends "request/request_base.html" %}

{% block title %}IPView{% endblock %}

{% block new_request %} class="active"{% endblock %}

{% block content %}
<h1 class="page-header">Create Request</h1>
<p>Step 1(Total 3 steps)</p>
<div class="panel panel-default col-lg-4 col-md-6 col-sm-9 col-xs-12">
    <div class="panel-body">
        <form class="request-form" method="POST" action="{{ url }}">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.site_id.label }}
                {{ form.site_id(class="form-control") }}
            </div>
            <ul class="page-btn">
                <li class="right">{{ form.submit(class="btn btn-primary", type="submit", value="next") }}</li>
            </ul>
        </form>
    </div>

</div>
{% endblock %}
