{% extends "request/request_base.html" %}

{% block title %}IPView{% endblock %}

{% block hist_request %} class="active"{% endblock %}

{% block content %}
<h1 class="page-header">Request History</h1>


<table class="table table-hover text-nowrap table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Hostname</th>
            <th>Description</th>
            <th>Status</th>
            <th>IP Info</th>

        </tr>
    </thead>
    <tbody>
    {% for request in requests %}
        <tr>
            <td><a href="{{ url_for("request.request_detail", request_id=request.id, next=parent_url) }}">{{ request.id }}</a></td>
            <td>{{ request.host.hostname }}</td>
            <td>{{ request.host.description }}</td>
            <td>{{ request.status|request_status }}</td>
            <td>{{ request.host.ip.address }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
