{% extends "base.html" %}

{% block request %} class="active"{% endblock %}

{% block page %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li{% block new_request %}{% endblock %}><a href="{{ url_for("request.new") }}">New Request</a></li>
                <li{% block hist_request %}{% endblock %}><a href="{{ url_for("request.history") }}">Request History</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}


